.input-items {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 10px;
  margin-bottom: 1rem;
}
.item-input {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 25px;
  border: 2px solid #1b1313;
  opacity: 0.7;
}

.item-input::placeholder {
  color: #1b1313;
  padding-left: 10px;
}

.input-btn {
  cursor: pointer;
  color: #1b1313;
  border: 1px solid #1b1313;
  border-radius: 0;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  text-transform: capitalize;
  border-radius: 25px;
}
input:focus {
  outline: 2px solid #1b1313;
  opacity: 1;
  border: none;
}
