* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins, sans-serif;
  background-color: #fffefe;
}
.container {
  margin: 0 auto;
  margin-top: 8rem;
  max-width: 30rem;
  background: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
h1 {
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
