.items {
  margin-top: 1.5rem;
  padding: 15px 25px 15px 25px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
}
.para {
  text-align: center;
  font-size: 1.2rem;
  color: #1b1313;
  font-weight: 500;
}

.completed {
  text-decoration: line-through;
  color: #999;
  opacity: 0.7;
}
