.single-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 1rem;
  align-items: center;
  margin-top: 10px;
}
.single-item input[type="checkbox"] {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}
input[type="checkbox"]:checked {
  accent-color: #131224;
}
.single-item .btn {
  cursor: pointer;
  color: #070707;
  background: transparent;
  border: 1px solid #070707;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}
